body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: green;
    color: white;
    padding: 20px;
    transition: width 0.3s;
}
.navbar:hover {
    width: 350px;
}
.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}